//top 10 recipes

.color-one {
    background-color: variables.$clr-bg-two;
}

.card-body {
    background: variables.$clr-green-two;
    border-color: variables.$clr-green-two;
}

//holidays

.img-fest {
    width: 5.625rem;
    height: 6.25rem;
}

//footer
footer {
    background-color: variables.$clr-green-two;
}
