@use 'abstracts/variables';
@use 'abstracts/mixins';

body {
  margin: 0;
}

.header {
  height: 43.75rem;
}

h2 {
  text-align: center;
  @include mixins.font(variables.$ff-secondary, variables.$fs-xmed, variables.$clr-green-one);
  font-weight: variables.$fw-semibold;
}


h3 {
  @include mixins.font(variables.$ff-secondary, variables.$fs-xsm, variables.$clr-green-one);
  font-weight: variables.$fw-bold;
  margin-left: 7rem;
}
