
@mixin space($m, $p){
  margin: $m;
  padding: $p;
}

@mixin size($height, $width){
  height: $height;
  width: $width;
}

@mixin font($ffamily, $fsize, $color) {
  font-family: $ffamily;
  font-size: $fsize;
  color: $color;
}

@mixin overlay($position, $bg, $height, $width) {
  position: $position;
  background-color: $bg;
  height: $height;
  width: $width;
}

@mixin card($br, $height, $width){
  border-radius: $br;
  height: $height;
  width: $width;
}

@mixin form($position, $width, $padding, $br, $bg){
  position: $position;
  width: $width;
  padding: $padding;
  border-radius: $br;
  background: $bg;
}
