//font-family
$ff-primary: 'Aclonica', sans-serif;
$ff-secondary: 'Comfortaa';
$ff-tertiary: 'Raleway', sans-serif;

//font-weight
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;

//font-size
$fs-lg: 4.375rem;
$fs-xmed: 3.438rem;
$fs-med: 3.125rem;
$fs-sm: 1.875rem;
$fs-xsm: 1.563rem;
$fs-xxsm: 1.3rem;
$fs-xxxsm: 1rem;

//colors
$clr-green-one: hsl(67, 33%, 41%);
$clr-bg-one: hsl(0, 17%, 95%);
$clr-green-two: hsl(67, 50%, 50%);
$clr-bg-two: hsl(67, 54%, 67%);
$clr-footer: hsl(56, 7%, 42%);
$clr-white: hsl(0, 0%, 100%);
$clr-black: hsl(0, 0%, 0%);