@use 'abstracts/variables';
@use 'abstracts/mixins';

.btn-primary {
    font-family: variables.$ff-secondary;
    background: variables.$clr-bg-two;
    border: none;
    color: variables.$clr-black;

    &:hover {
        background: variables.$clr-green-one;
        color: variables.$clr-black;
    }
}

.btn-secondary {
    background: variables.$clr-green-two;
    border: none;
    color: variables.$clr-black;
    font-family: variables.$ff-secondary;

    &:hover {
        background: variables.$clr-green-one;
        color: variables.$clr-black;
    }
}

.btn-title {
    background: variables.$clr-green-two;
    border: none;
    color: variables.$clr-black;

    &:hover {
        background: variables.$clr-bg-two;
        color: variables.$clr-black;
    }
}

.btn-modal-one {
    margin-left: 9.5rem;
}